@font-face {
    font-family: "Poppins-BoldItalic";
    src: url("../fonts/Poppins-BoldItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Poppins-Medium";
    src: url("../fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
body{
    font-size: 1.5em;
    background-color: #f3d3e0;
    font-family: "Poppins-BoldItalic", sans-serif;
    text-align: center;
}
title h1{
    font-size: 1.5em;
    color: #f3d3e0;
    -webkit-text-stroke: 1px black;
    margin: 0;
}
img{
    width: 14em;
    height: auto
}
#title{
    position: relative;
    display: inline-block;
}
#title h1{
    color: #f3d3e0;
    -webkit-text-stroke: 1px black;
    margin: 0;
}
#title h4 {
    position: absolute;
    right: 0;
    bottom: -17.5px;
    
    color: #f3d3e0;
    -webkit-text-stroke: 0.5px black;
    margin: 0;
}
audio{
    padding-top: 1em;
}
button{
    font-family: inherit;
    font-size: 1.25em;
    margin: 0.3em;
    background-color: #f3d3e0;
    border-radius: 10px;
    border-color: #bea9b2;
}
#lyricsTitle {
    margin-bottom: 0.2em; /* small space */
}
#lyricsP {
    margin-top: -1em;
    white-space: pre-line;;
}