@font-face {
    font-family: "Poppins-BoldItalic";
    src: url("Poppins-BoldItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Poppins-Medium";
    src: url("Poppins-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
/* video.html */
#videoSong{
    width: 100%;
    max-width: 600px;
}
/* index.html */
body {
    background-color: #f3d3e0;
    font-family: "Poppins-BoldItalic", sans-serif;
    text-align: center;
}
#title{
    position: relative;
    display: inline-block;
}
#title h1{
    color: #f3d3e0;
    -webkit-text-stroke: 1px black;
    margin: 0;
}
#title h4 {
    position: absolute;
    right: 0;
    bottom: -17.5px;
    
    color: #f3d3e0;
    -webkit-text-stroke: 0.5px black;
    margin: 0;
}
button{
    font-family: inherit;
    font-size: 1.25em;
    background-color: #f3d3e0;
    border-radius: 10px;
    border-color: #bea9b2;
}
div{
    position: relative; top: -25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
div p{
    font-family: "Poppins-Medium";
    font-weight: lighter;
    text-align: left;
    margin: 0;
    white-space: pre-line;
}
@media (min-width: 600){
}